{% extends "outside_generic.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    <form action="" method="post" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo_fw.png' %}" alt="" width="150">
        {% if form.email.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ form.email.errors }}
            </div>
        {% endif %}
        <p>{% translate "Enter your E-Mail-Address to reset your password: " %}</p>
        <label for="email"></label>
        <input id="email" type="email" name="{{ form.email.html_name }}" placeholder="{{ form.email.label }}"
               class="emailinput form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate "Reset password" %}</button>
    </form>
{% endblock %}