{% extends "outside_generic.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    <form action="" method="post" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo_fw.png' %}" alt="" width="150">
        <h5 class="h5 mb-5 font-weight-normal">{% translate "The password has been changed!" %}</h5>
        <a href="{% url 'login' %}" title="{% translate "Log in again?" %}">
            {% translate "Log in again?" %}<span data-feather="arrow-right"></span>
        </a>
    </form>
{% endblock %}