{% extends "outside_generic.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block content %}
    <form action="" method="post" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo_fw.png' %}" alt="" width="150">
        <p>{% translate "We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder." %}</p>
        <a href="{% url 'login' %}" title="{% translate "Back to login" %}">
            <span data-feather="arrow-left"></span>{% translate "Back to login" %}
        </a>
    </form>
{% endblock %}