{% extends "outside_generic.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    <form action="" method="post" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo_fw.png' %}" alt="" width="150">
        {% if validlink %}
            {% if form.errors %}
               {% for field in form %}
                   {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error | escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <p>{% translate "Please choose a new password." %}</p>
            <label for="id_new_password1"></label>
            <input id="id_new_password1" type="password" name="{{ form.new_password1.html_name }}"
                   placeholder="{{ form.new_password1.label }}"
                   class="passwordinput form-control">
            <label for="id_new_password2"></label>
            <input id="id_new_password2" type="password" name="{{ form.new_password2.html_name }}"
                   placeholder="{{ form.new_password2.label }}"
                   class="passwordinput form-control">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% translate "Reset password" %}</button>
        {% else %}
            <h4 class="h4 mb-4 font-weight-normal">{% translate "Password reset failed" %}</h4>
            <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
            <a href="{% url 'login' %}" title="{% translate "Back to login" %}">
                <span data-feather="arrow-left"></span>{% translate "Back to login" %}
            </a>
        {% endif %}
    </form>
{% endblock %}