{% extends "dashboard_generic.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block page_title %}{% translate "Add new Course Event" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.person_in_charge|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.start|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.end|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.course|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
                <a class="btn btn-dark" id="cancel-button"
                   href="{{ request.META.HTTP_REFERER }}">{% translate "Cancel" %}</a>

            </form>
        </div>
    </div>
{% endblock %}