{% extends "dashboard_generic.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block page_title %}{% translate "Add Training" %}{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.start|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{ form.end|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.satisfies_required_trainings|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.topic|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{ form.person_in_charge|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.attendees|as_crispy_field }}
            </div>
            <div class="form-group col-md-6">
                {{ form.comment|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
    </form>
{% endblock %}