{% extends "dashboard_generic.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load mathfilters %}

{% block page_title %}{% translate "Trainings" %}{% endblock %}
{% block action_button %}
    <a href="{% url 'training-add' %}" class="btn btn-dark">{% translate "Add Training" %}</a>
{% endblock %}

{% block content %}
    {% if trainings|length < 1 %}
        <div class="alert alert-warning text-center" role="alert">
            {% translate "It seems like no training has been taken place yet." %}
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% translate "Start" %}</th>
                    <th scope="col">{% translate "End" %}</th>
                    <th scope="col">{% translate "Topic" %}</th>
                    <th scope="col">{% translate "Person in charge" %}</th>
                    <th scope="col">{% translate "Duration" %}</th>
                    <th scope="col">{% translate "Attendees" %}</th>
                    <th scope="col">{% translate "Comment" %}</th>
                    <th scope="col">{% translate "Action" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for training in trainings %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ training.start|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ training.end|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>{{ training.topic }}</td>
                        <td>{{ training.person_in_charge }}</td>
                        <td>{{ training.duration|div:60|floatformat }} min</td>
                        <td>
                            {% for attendee in training.attendees.all %}
                                <span class="badge badge-info">{{ attendee.first_name }} {{ attendee.last_name }}</span>
                            {% endfor %}
                        </td>
                        <td>{% if attendance.comment %}{{ attendance.comment }}{% endif %}</td>
                        <td>
                            <a href="{% url 'training-update' pk=training.pk %}"
                               title="{% translate "Edit Training" %} {{ training.topic }}">
                                <span data-feather="edit" style="float: left;"></span>
                            </a>
                            <a data-toggle="modal"
                               data-target="#confirmModal"
                               data-title="{% translate "Are you sure?" %}"
                               data-body="{% translate "Do you really want to delete this training?" %}"
                               data-post="{% url "training-delete" pk=training.pk %}"
                               class="inline-table-action">
                                <span data-feather="trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}