{% extends "dashboard_generic.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block page_title %}
    {% if not object %}
        {% translate "Add new Firefighter" %}{% else %}{% translate "Update Firefighter" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 class="h5">{% translate "General Information" %}</h5>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.picture|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form.staff_id|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.date_of_birth|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.status|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.active_since|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.street|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.zip|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.city|as_crispy_field }}
                    </div>
                </div>
                <h5 class="h5">{% translate "Contact Information" %}</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.phone_number|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <h5 class="h5">{% translate "Equipment" %}</h5>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.pager|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.locker|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.key|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">{% translate "Save" %}</button>
                <a class="btn btn-dark" id="cancel-button" href="{{ request.META.HTTP_REFERER }}">{% translate "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}