body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #00305D;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

body.text-center #div_id_new_password1 small {
    text-align: left !important;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.inline-table-action {
    display: inline-block;
    float: left;
    margin: -3px 0 0 10px;
    padding: 0;
    cursor: pointer;
}

.inline-table-action:first-child {
    margin: 0;
}

.card-body {
}

.valid {
    background: #BCE098;
}

.invalid {
    background: #E09898;
}

.expires {
    background: #E7D473;
}

.feather-128 {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
}

.feather-64 {
    width: 64px;
    height: 64px;
    margin: 0 0 0 0;
}

.feather-32 {
    width: 32px;
    height: 32px;
    margin: 0 0 0 0;
}

.field-description {
    font-weight: bold;
    padding-right: 1em;
    vertical-align: top;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.separator {
    border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.sub-section-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.clearablefileinput {
    margin-top: 5px;
}

table.data-table tr td {
    padding-bottom: 1em;
}

ul.nav > li.nav-item > ul.sub-menu {
    display: none;
}

ul.nav > li.active > ul.sub-menu {
    display: block;
}

ul.nav > li.nav-item > ul.sub-menu > li {
    margin-left: 1rem;
}

ul.nav > li.nav-item > ul.sub-menu > li > a {
    padding: .5rem 0;
}

table.data-table tr td:first-child {
    padding-right: 10px;
}

div.card table.data-table tr td {
    padding-bottom: 0;
}

.top-list-button {
    margin-top: 5px;
}

.btn-primary {
    background-color: #00305D;
    border-color: #002445;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #01417d;
    border-color: #012f59;
}

a {
    color: #00305D;
}

.navbar-dark .navbar-brand {

}